body {display: flex;
justify-content: center;
background-color: #e2d9db;
margin: 100px;}

.pai {display:inline grid; gap: 5px 5px;
     grid-template-columns: 200px 200px;
     grid-template-rows: 200px 200px;
   
}


.item1 {background-color: #EB2340;color: #EB2340; border-radius: 10px;}
.item2 {background-color: #2D23EB;color: #2D23EB; border-radius: 10px;}
.item3 {background-color: #4CEA14;color: #4CEA14; border-radius: 10px;}
.item4 {background-color: #EBDF23;color: #EBDF23; border-radius: 10px;}