body {justify-content: center;}


.cima {background-color: blueviolet;}

.container {display: grid; 
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 200px ;
    gap: 10px;
    justify-content: center;
}



.elemento{ background-color: aqua;}
.elemento2 {background-color: violet;}
.baixo {background-color: blue;}