body {margin: 0px;
     padding: 0px;
     background-color: #557EFA
}


.cima {background-color: #2DFA32;
    color: #2DFA32;
height: 40px;}

.container {display: grid; 
    grid-template-columns: repeat(3, 4fr);
    grid-template-rows: 340px ;
    gap: 10px;
    justify-content: center;
    margin: 5px;
    
}
.container2{display: grid; 
    grid-template-columns: repeat(6, 2fr);
grid-template-rows: 300px;
gap: 10px;
justify-content: center;
margin: 5px;
}


.elemento{ background-color: #FA214F;
color: #FA214F;}

.elemento2 {background-color: #D53BFA;
color: #D53BFA;}

.baixo {background-color: #FA472D;
color: #FA472D;
height: 40px;}
