body{background-color: #cdcfb7;
}

header { background-color: #2672da;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-content: center;

}
 button {border: none;
background-color: #2672da;
cursor: pointer;}


.menu {display: flex;
  gap: 10px;
 
  }
.projetos { display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 100px);
gap: 20px;
justify-content: center;

}


.item {background-color: azure
    ;}
    